#feedback_button {
  background: url('http://air-staging-assets.s3.amazonaws.com/assets/feedback_icon.png')
    0 0 no-repeat transparent;
  height: 67px;
  width: 67px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9999999;
}

#formModal {
  z-index: 99999999;
}
